.enterPwAll{
    background-color: #f9f9f9;
    height: 822px;
    /*border-top: 2px solid #360000;*/
    margin-top: 50px;
    font-size: 18px;
}
.enterPwAllmain{
    height: 602px;
    background-color: #fff;
    margin-top: 20px;
    border: 1px solid #EAEAEA;
}
.enterPwAllmain-top{
    height: 200px;
    border-bottom: 1px solid #EAEAEA;
    padding-left: 140px;
    position: relative;
}
.enterPwAllmain-top h3{
    font-size: 26px;
    color: #44AE10;
    line-height: 95px;
}
.enterPwAllmain-top span{
    display: inline-block;
    position: absolute;
    left: 80px;
    top: 24px;
    width: 50px;
    height: 50px;
    background: url("../images/jl1.png") no-repeat -11px -11px;
}
.enterPwAllmain-top s{
    font-size: 26px;
    color: #FF503F;
}
.enterPwAllmain-top i{
    color: #FF503F;
}
.enterPwAllmain-top p{
    line-height: 37px;
}

.enterPwAllmain-bot span{
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    color:#000;
    margin-left: 20px;
    font-weight: bold;
}
.enterPwAllmain-bot-l{
    margin-top: 18px;
    width: 28%;
    line-height: 50px;
    text-align: right;
    color:#000;
}
.enterPwAllmain-bot-l-r{
    width: 70%;
    line-height: 50px;
    text-align: left;
    margin-top: 18px;
}
.enterPwAllmain-bot-l-r i{
    font-size: 25px;
    color: #FF503F;
}
.enterPwAllmain-bot-l-r s{
    margin-left: 10px;
    font-size: 16px;
}
.enterPwAllmain-bot-l-r s>i{
    font-size: 16px;
}
.enterPwAllmain-bot-l-r input{
    width: 250px;
    height: 35px;
    border: 1px solid #8E9092;
    font-size: 20px;
    margin-top: -10px;
}

.enterPwAllmain-bot button{
    display: block;
    width: 380px;
    height: 60px;
    background-color: #02CAFE;
    font-size: 22px;
    color: #fff;
    /*border-radius: 10px;*/
    margin: 250px auto;
    letter-spacing: 25px;
    padding-left: 20px;
    cursor: pointer;
    border: 1px solid #77E3FF;

    -moz-border-radius:10px;

    -webkit-border-radius:10px;

    border-radius:10px;

    position: relative;

    z-index:2;

    behavior: url(../ie-css3.htc);
}

